@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;500;700&display=swap");

/* -------------------- // Global Variables // ------------------------------ */
:root {
  /*   --color-primary1: hsla(258, 36%, 52%, 0.795);
  --color-primary2: hsla(252, 37%, 72%, 0.315);
  --color-secondary1: hsl(35, 100%, 95%);
  --color-secondary2: hsl(29, 78%, 78%); */
  --color-accent1: hsl(181, 98%, 52%);
  --color-accent2: hsl(301, 100%, 50%);
  --color-accent3: hsl(151, 95%, 50%);
  --color-accent4: hsl(68, 87%, 51%);
  --color-accent5: hsl(42, 98%, 50%);
  --color-accent6: hsl(295, 99%, 28%);
  --color-accent7: hsl(17, 100%, 56%);
  --color-neutral1: hsl(0, 0%, 3%);
  --color-neutral2: rgb(255, 255, 255);
  /* ---- //Fonts Variables (Custom Properties// -----*/
  --font-headings: "Roboto Mono", monospace;
}

/* --------------------- // Reset // -------------------------------- */

* {
  box-sizing: border-box;
  /* border: dotted 1px hotpink; */
}

html,
body,
p,
a,
ul,
li {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
}
body {
  background-color: hsl(0, 0%, 9%);
  color: var(--color-neutral2);
}

/* ------------------ // Base Styles // ----------------------------- */
/* ---- // Fonts // ---------- */
h4,
h5,
h6 {
  font-family: var(--font-headings);
}

h2 {
  font: 400 1.6rem/1 var(--font-headings);
  color: var(--color-accent1);
}
h3 {
  font: 300 1.5rem/1 var(--font-headings);
}

/* ----------- // Colors // -------------- */
.accent1 {
  color: var(--color-accent1);
}

.accent2 {
  color: var(--color-accent2);
}
.accent3 {
  color: var(--color-accent3);
}

.accent4 {
  color: var(--color-accent4);
}
.accent5 {
  color: var(--color-accent5);
}
.accent6 {
  color: var(--color-accent6);
}
.accent7 {
  color: var(--color-accent7);
}
.neutral2 {
  color: var(--color-neutral2);
}

.border0 {
  border: none;
}

.border1 {
  border: 1px solid var(--color-accent1);
}
.border2 {
  border: 1px solid var(--color-accent2);
}
.border3 {
  border: 1px solid var(--color-accent3);
}

/* -------------------- // section´s style// -----------------------  */
header,
.bandPageHero {
  background: hsla(0, 0%, 0%, 0.212) url("../public/media/festivalLanding.png") no-repeat center;
  background-size: cover;
  background-blend-mode: multiply;
  text-align: center;
  margin-bottom: 1rem;
  height: 60vh;
}

nav ul,
.basket-container div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.basket-container div {
  margin-left: auto;
}
.anchor {
  font: 400 1rem/1 var(--font-headings);
  color: var(--color-accent7);
}

.main {
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --------------------- // Main Sections & Elements style // ---------------------- */

/* ------- // Hero Section // ----------- */

.title {
  margin: 0;
  opacity: 0.2;
  letter-spacing: 0.4%;
  font: 200 6rem/1 var(--font-headings);
}

.title a {
  color: var(--color-accent1);
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title,
.camping {
  text-align: center;
}

/* ------- // Filtering & Searching  Section // ----------- */

.flex-container {
  gap: 2rem;
}

.input {
  text-align: center;
  padding: 1rem 1.5rem;
  background-color: transparent;
}

.iconContainer {
  position: relative;
  gap: 2rem;
  margin: 1rem;
}

.icon {
  position: absolute;
  top: 34%;
  left: 6%;
}

/* ------- // Shows  Section // ----------- */
/* ------- // Days // --------- */

.button-link,
.button,
.accion-button {
  background-color: transparent;
  padding: 1rem;
  text-align: center;
}

a.button-link {
  width: 100%;
  margin: auto;
}

.button:focus,
.button:hover,
.accion-button:focus,
.accion-button:hover,
.active {
  border: 1px solid var(--color-accent1);
}

.grid {
  gap: 0.8rem;
  width: 80%;
  margin: 2rem auto;
  line-height: 1.5;
  font-size: 1.5rem;
}

.container {
  width: 85%;
  margin: auto;
  flex: 1 1 200px;
}

.grid,
.card,
.flex-container,
.container,
.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid,
.card,
.flex-container {
  flex-wrap: wrap;
  max-width: 90%;
}

/* ------- // Shows // --------- */

.show-table {
  max-width: 100%;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  border-bottom: solid 3px var(--color-accent2);
}

.show-table ul {
  padding-left: 0.5rem;
}

.show-table li {
  font-size: small;
}

/* --------------- // Stages & Acomodation // ---------------------- */

p {
  font: small var(--font-headings);
  margin: 1rem auto;
}

.card {
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 8rem;
}

.stages p:first-child {
  margin-bottom: 0;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

/* ------------ // Bands Cards // -------------- */

.carousel {
  position: relative;
  max-width: 100%;
}
.bands-container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}
.bands-wraper {
  margin: 2rem auto;
  transition: transform 0.3s;
  max-width: 90%;
}

.bandbutton {
  position: absolute;
  width: 3rem;
  padding: 5px;
  z-index: 20;
  top: 50%;
}
.next {
  right: 0%;
}
.next,
.prev {
  background-color: var(--color-accent6);
  font-weight: bolder;
}
.bands-card {
  width: 85%;
  margin: auto;
  gap: 1rem;
  display: flex;
  align-items: center;
  z-index: 0;
}

.bandsInfo {
  display: flex;
  justify-content: space-between;
  background-color: blue;
  margin-top: 0%;
  gap: 0.5rem;
  padding: 0.5rem;
  max-width: 15rem;
  height: 10rem;
}

.bandsInfo div:last-child {
  align-self: center;
}
.bandsInfo p {
  margin: 0.5rem;
}
.bandlink {
  font-size: 0.5rem;
  padding: 0.5rem;
}

.bandsInfo button {
  font-size: 0.5rem;
}

/* ------------ // Lineup // -------------- */
.bands li {
  font-size: small;
  color: var(--color-accent1);
}

/* ------------ // Tickets // -------------- */

.container {
  flex-direction: column;
}

.container li {
  font-size: small;
}

.tickets-div {
  flex: 1 1 200px;
  width: 35%;
}
.tickets-info {
  width: 50%;
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.regular,
.vip {
  width: 80%;
  text-align: center;
  height: 5rem;
  color: var(--color-neutral1);
  padding: 2rem;
  margin: 0.5rem;
}
.regular {
  background-color: var(--color-accent3);
}
.vip {
  background-color: var(--color-accent5);
}

/* --------------- // Footer // ----------------------- */
.footer {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid var(--color-accent2);
  margin: 5rem auto;
  padding-top: 2rem;
  justify-content: space-around;
  align-items: baseline;
  width: 90%;
  gap: 2rem;
}

.footer p {
  padding-left: 1.5rem;
}
.footer form {
  max-width: 100%;
}

.input-footer,
.button-footer {
  padding: 0.8rem 1rem;
  background-color: transparent;
  text-align: center;
  width: 100%;
}

/* --------------- // Bands Pages // ----------------------- */
.bandPageHero {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.bandPageTitle {
  font: 200 2rem/1 var(--font-headings);
}

.bandPageHero p {
  font-size: 0.6rem;
}
.bandBio p,
.bandPageHero li {
  font-size: 0.8rem;
}

.bandBio {
  padding: 1rem;
  width: 80%;
  margin: auto;
}

/* -------------------- // SYSTEM 1 BOOKING // ------------------------------- */

/* ------------- // Cart // -------------- */

.button-cart {
  background-color: transparent;
  border: none;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  position: relative;
  z-index: 0;
}

.quantity {
  position: absolute;
  grid-row: 1;
  grid-column: 1;
  z-index: 4;
  color: var(--color-accent7);
  font-weight: bolder;
  top: -16px;
  font-size: 1.7rem;
  font-family: var(--font-headings);
}

/* ------------- // Form Tickets // -------------- */

.reservation-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.tickets-div {
  width: 80%;
  text-align: center;
}

.tickets-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 4rem auto;
}

.tickets-container div {
  justify-content: space-around;
  padding: 0.8rem;
  border-radius: 10px;
}

.tickets-container div:first-child {
  border: solid 1px var(--color-accent4);
  flex: 1 1 10rem;
}
.tickets-container div:last-child {
  border: solid 1px var(--color-accent5);
  flex: 1 1 10rem;
}

.tickets-container ul {
  background-color: var(--color-neutral1);
  color: var(--color-accent1);
  text-align: left;
  border-radius: 5px;
  padding: 0 1rem;
  margin-top: 1rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.tickets-container input {
  color: var(--color-accent1);
  font-size: 0.9rem;
  padding: 0.5rem;
  width: 60px;
  border-radius: 10px;
}
.tickets-container output {
  color: var(--color-accent5);
  font-weight: bolder;
}

.ticket-holder-container .accion-button {
  width: 100%;
}
output {
  margin-left: 0.8rem;
}
label {
  font-size: medium;
  border-radius: 7px;
}

/* ---- // accommodation // ------- */

.green-camping {
  background-color: var(--color-accent3);
}

/* ---- // tents // ------- */

.tents-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 2rem auto;
}

.tents {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.tents input {
  font-size: 1rem;
  padding: 0.5rem;
  width: 60px;
  border-radius: 15px;
  background-color: transparent;
}
/* ---------- // Basket // --------------------- */

.basket-container {
  margin: auto;
  padding-top: 2rem;
  display: flex;
  width: 90%;
  align-items: center;
}

.basket-container img {
  width: -webkit-fill-available;
  flex: 1 1 100px;
}

.table-container {
  width: fit-content;
  margin: auto;
}
.table-container .accion-button {
  width: 100%;
}
table {
  margin: 2rem auto;
  font: 200 0.7rem/1 auto;
}

th {
  color: var(--color-accent7);
}

tr td:first-child {
  color: var(--color-accent1);
}
td,
th {
  padding: 0.5rem;
}

.accion-button {
  width: 80%;
  font-size: 0.7rem;
  margin-top: 1rem;
}
/* ---------- // Checkout // ---------- */

.checkout-title {
  margin-top: 5rem;
}

.dynamic-inputs-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  margin: 1rem;
}

.checkout label {
  flex: 1 1 16px;
  text-align: baseline;
  margin-bottom: 2rem;
}

.dynamic-inputs {
  padding: 0.8rem 1rem;
  background-color: transparent;
  text-align: center;
}
.input-name {
  margin-right: 10px;
}
/* ---------- // Payment // ---------- */
.payment-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.payment-form label {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
}

.payment-form div {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.payment-form div label {
  flex: 1 1 150px;
}
.payment-inputs {
  width: 48%;
  margin: auto 1rem;
  padding: 0.8rem 1rem;
  background-color: transparent;
  text-align: center;
}
/* small tablet styles */
@media screen and (min-width: 620px) {
  .title {
    font: 100 10rem/1.15 var(--font-headings);
  }

  h2 {
    font: 400 2rem/1 var(--font-headings);
  }

  h3 {
    font: 300 2rem/1 var(--font-headings);
  }

  header {
    height: 28rem;
  }

  .headerDays {
    max-width: 50%;
  }

  .grid {
    width: 90%;
  }
  .show-table {
    max-width: 80%;
    margin: auto;
  }
  .show-table li {
    font-size: medium;
  }

  .bands li,
  p {
    font-size: medium;
  }

  .flex-container {
    gap: 4rem;
    justify-content: space-around;
  }

  .regular,
  .vip {
    width: 15rem;
    height: 5rem;
  }

  .footer {
    padding-top: 1rem;
  }

  .footer div:first-child {
    align-items: flex-start;
  }
  .footer p {
    padding-left: 0%;
  }

  .bandpage {
    display: flex;
    flex-direction: row-reverse;
  }

  .bandpage .bandPageHero {
    width: 80%;
  }
  .bandPageHero p {
    font-size: 0.8rem;
  }

  .bandBio p,
  .bandPageHero li {
    font-size: 1.2rem;
  }

  .tickets-container input {
    font-size: 1.2rem;
    width: 70px;
  }

  .tents label {
    display: flex;
    gap: 1rem;
  }

  table {
    font: 200 1.3rem/1 auto;
  }

  td,
  th {
    padding: 1.5rem;
  }

  .accion-button {
    font: 200 1rem/1 auto;
  }

  .payment-form {
    width: 55%;
  }

  .checkout-inputs {
    width: 65%;
  }
}
/* large tablets and laptop styles */
@media screen and (min-width: 960px) {
  header {
    height: 38rem;
  }
  .title {
    font: 100 18rem/1.15 var(--font-headings);
  }

  .show-table {
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .card {
    width: 12rem;
  }

  .footer .container {
    align-items: baseline;
  }

  .tents {
    flex-direction: row;
  }
  .tickets-container ul {
    margin-top: 2rem;
  }
  .accion-button {
    width: 60%;
  }
  .ticket-holder-container {
    width: 80%;
  }
}

/* destop styles */
@media screen and (min-width: 1200px) {
  .tickets-container div {
    padding: 2rem 0.8rem;
    flex: 1 1 18rem;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
